build/
firmware/
espfs/mkespfsimage/*.o
espfs/mkespfsimage/mkespfsimage
webpages.espfs
espfs/espfstest/*.o
espfs/espfstest/espfstest
*.DS_Store
html_compressed/
esp-link.tgz
tve-patch/
yui
espfs/mkespfsimage/mman-win32/mman.o
esp-link.opensdf
esp-link.sdf
espfs/mkespfsimage/mman-win32/libmman.a
.localhistory/
local.conf
*.tgz
