
body {
	background-color: #404040;
	font-family: sans-serif;
	font-color: #663300;
}

#main {
	background-color: #FFFFCC;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #000000;
	width: 800px;
	margin: 0 auto;
	padding: 20px
}

h1 {
	margin-top: 0;
	font-size: 36pt;
}
h1 .esp {
	font-size: 48pt;
}

#topnav {
	background-color: #CC9966;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 0px solid #000000;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	color: #ffff99;
}
#topnav a {
	color: #ffff99;
	font-weight: bold;
	font-stretch: expanded;
}

pre.console {
	background-color: #663300;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 0px solid #000000;
	color: #66ff66;
	padding: 5px;
}

pre.console a {
	color: #66ff66;
}

.lock-icon {
	background-image: url("/wifi/icons.png");
	background-color: transparent;
	width: 32px;
	height: 32px;
	display: inline-block;
}
